<div class="container">
    <div class="jumbotron custom-jumbotron">
      <div class="row align-items-center">
        <div class="col-md-6">
          <img src="assets/Vardan.jpg" alt="Profile Picture" class="img-fluid">
        </div>
        <div class="col-md-6">
          <h1>Vardan Gupta</h1>
          
          <p>Hello,
            Thanks for a visit, </p>
            <p> I am a Computer Science Engineering with 1 year and 3 month Experience, Discovering a fascinating world of modern technologies and cultures.
            I believe in writing code having minimal complexity, Enabling it to run on the machine smoothly, keeping the right choice of data structures and algorithms with efficient logic.</p>
          <p>I am good in debugging the code, doing RCA and solving the bugs. I have a consistant knowledge of agile scrum</p>
        </div>
      </div>
    </div>
  </div>
  