  <div class="col-md-6">
    <h1>Vardan Gupta</h1>
  
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur tortor nec efficitur aliquet.
      Curabitur ac lectus semper, fermentum nisl ac, luctus leo. Phasellus fermentum sapien id justo interdum
      faucibus. Nam semper, odio ut pulvinar convallis, lacus eros lobortis velit, eu eleifend odio nunc ut
      enim.</p>
    <p>Curabitur efficitur tortor ac eros scelerisque, ut suscipit ipsum tincidunt. Duis efficitur lorem in
      lorem lacinia, nec aliquet velit fermentum. Mauris lacinia sem nisl, at tempor neque commodo a. Fusce
      ultrices consectetur felis, vitae interdum velit gravida nec.</p>
  </div>