<div class="jumbotron custom-jumbotron">
  <h1>Contact</h1>
  <p>Hello Connections,</p>
  <p>Hoping you all are doing Great!!!</p>
  <p>I am delighted to get your attention and will be happy to get an opportunity to know you...😊</p>
  <div class="contact-details">
    <p>Phone: <a href="tel:+919827713238">+91 9827713238</a> / <a href="tel:+918839495115">+91 8839495115</a></p>
    <p>Email: <a href="mailto:vardangupta00@gmail.com">vardangupta00@gmail.com</a></p>
    <p>Linkedin: <a href="https://www.linkedin.com/in/vardangupta786/">linkedin.com/in/vardangupta786/</a></p>
    <p>Github: <a href="https://github.com/VardanGupta786101">github.com/VardanGupta786101</a></p>
  </div>
  <p>❤️ I believe that meaningful connections play a crucial role in personal and professional growth. It is through collaboration, knowledge sharing, and support that we can achieve great things together.❤️</p>
</div>
