/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.nav-link.active {
    font-weight: bold;
}

.custom-jumbotron {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: -20px;
    border-radius: 0;
  }

